.container {
    position: absolute;
    left: 35%;
    top: 20%;
}
.earth {
    height: 300px;
    width: 400px;
    background-image: url("../../WebImages/earth-spinning-rotating-animation-14.gif");
    background-repeat: no-repeat;
}
.rocket {
    background-size: 16%;
    background-image: url(../../WebImages/rocketship.jpg);
    height: 100px;
    left: -120px;
    width: 580px;
    top: 100px;
    position: absolute;
    background-repeat: no-repeat;
    transition: 30s;
}
.container:hover .rocket {
    transform: rotateZ(3600deg);
    transition: 30s;
    transition-timing-function: linear;
}